* {
  text-align: center;
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contenedor__botones-principales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.boton--registrarse {
  color: white;
  background: none;
  border-radius: 5rem;
  padding: 0.7rem 1rem;
  border-color: white;
  font-size: 1rem;
}

.boton--descargar-app {
  color: white;
  background: #6610f2;
  border-radius: 5rem;
  padding: 1rem 2rem;
  border: 0;
  margin: 2rem 0;
  font-size: 1.2rem;
}

.boton--ver-mas {
  color: white;
  font-size: 1.2rem;
  border: 0;
  background: none;
  margin-left: 3rem;
}

@media (max-width: 800px) {
  .boton--registrarse {
    margin-left: 2rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 540px) {
  .boton--registrarse {
    font-size: 1rem;
  }
  .boton--ver-mas {
    font-size: 1rem;
  }
}

.contenedor__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  margin: 0 5rem;
}

.contenedor__header .navbar-item {
  color: gray;
}

.contenedor__header .navbar-item--activado {
  color: white;
}

.contenedor__header .logo__header--img {
  width: 3rem;
  margin-right: 0.5rem;
}

.contenedor__header .navbar__home ul li {
  display: inline-block;
  margin: 0 2rem;
}

@media (max-width: 800px) {
  .logo__header {
    font-size: 2rem !important;
  }
  .logo__header--img {
    width: 4rem !important;
  }
  .contenedor__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 3rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar__home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 3rem;
  }
  .navbar__home ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar__home ul li {
    width: 100%;
    text-align: center;
    display: none;
    font-size: 2rem;
  }
}

@media (max-width: 320px) {
  .navbar__home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .navbar__home ul li {
    width: 100%;
    text-align: center;
    display: none;
    font-size: 1rem;
  }
}

.home--degradado {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ffffff' fill-opacity='0.09' fill-rule='evenodd'/%3E%3C/svg%3E");
  color: white;
}

.contenedor__info--principal-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.contenedor__info--principal-3 {
  margin: 8rem 0 0 5rem;
  width: 50rem;
}

.texto--descargar {
  color: gray;
  font-size: 1.5rem;
  text-align: start;
}

.texto--principal {
  font-size: 3rem;
  font-weight: 600;
  text-align: start;
  margin: 1rem 0;
  text-align: start;
}

.texto--secundario {
  color: gray;
  text-align: start;
  margin-bottom: 2rem;
  text-align: start;
}

.contenedor--valoraciones-principal {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6rem 0 0 1rem;
}

.contenedor--valoraciones-1,
.contenedor--valoraciones-2,
.contenedor--valoraciones-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.numero-valoracion {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 9rem;
}

.texto-valoracion {
  color: darkgray;
  margin-left: 1rem;
  width: 10rem;
  text-align: start;
}

.celuar-imagen {
  position: absolute;
  top: 11rem;
  left: 60rem;
  width: 24%;
  height: auto;
  display: block;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1280px) {
  .celuar-imagen {
    top: 20rem;
    left: 58rem;
    width: 25%;
  }
  .contenedor--valoraciones-principal {
    padding-top: 5rem;
  }
  .contenedor__info--principal-3 {
    padding-top: 10rem;
    margin: 5rem 0 0 5rem;
  }
}

@media (max-width: 1200px) {
  .celuar-imagen {
    top: 20rem;
    left: 58rem;
    width: 20%;
  }
  .numero-valoracion {
    margin-left: 7rem;
  }
}

@media (max-width: 1024px) {
  .celuar-imagen {
    top: 58rem;
    left: 35rem;
    width: 35%;
  }
  .contenedor--valoraciones-principal {
    padding-top: 30rem;
  }
  .numero-valoracion {
    margin-left: 4rem;
  }
  .texto--descargar {
    font-size: 2.5rem;
  }
  .texto--principal {
    font-size: 5rem;
  }
  .texto--secundario {
    margin-bottom: 3rem;
  }
}

@media (max-width: 800px) {
  .celuar-imagen {
    top: 90rem;
    left: 25rem;
    width: 40%;
  }
  .numero-valoracion {
    margin-left: 1rem;
  }
  .contenedor__info--principal-3 {
    margin: 8rem 0 0 5rem;
    width: 40rem;
  }
}

@media (max-width: 640px) {
  .celuar-imagen {
    top: 93rem;
    left: 20rem;
    width: 50%;
  }
  .texto-valoracion {
    margin-left: 3.5rem;
    width: 100%;
    font-size: 1rem;
  }
  .contenedor__info--principal-3 {
    margin: 8rem 0 0 3rem;
    width: 30rem;
  }
}

@media (max-width: 540px) {
  .celuar-imagen {
    top: 80rem;
    left: 15rem;
    width: 55%;
  }
  .contenedor__info--principal-3 {
    margin: 8rem 0 0 3rem;
    width: 30rem;
  }
  .texto--descargar {
    font-size: 2rem;
  }
  .texto--principal {
    font-size: 3rem;
  }
  .texto--secundario {
    margin-bottom: 2rem;
  }
}

@media (max-width: 540px) {
  .contenedor__info--principal-3 {
    margin: 8rem 0 0 3rem;
    width: 25rem;
  }
  .texto--descargar {
    font-size: 2rem;
  }
  .texto--principal {
    font-size: 3rem;
  }
  .texto--secundario {
    margin-bottom: 2rem;
  }
}

@media (max-width: 320px) {
  .contenedor__info--principal-3 {
    margin: 8rem 0 0 3rem;
    width: 15rem;
  }
  .texto--descargar {
    font-size: 1.5rem;
  }
  .texto--principal {
    font-size: 2rem;
  }
  .texto--secundario {
    margin-bottom: 2rem;
  }
  .celuar-imagen {
    top: 75rem;
    left: 3.5rem;
    width: 85%;
  }
  .texto-valoracion {
    margin-left: 1rem;
    width: 50%;
    font-size: 0.5rem;
  }
  .numero-valoracion {
    font-size: 1rem;
    margin-left: 0rem;
  }
}
/*# sourceMappingURL=styles.css.map */